/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.mvc-section {
  max-width: 600px;
  margin: 10px;
  }

.special{
  color: #ddd;
  background-color:seagreen;
}